<tr>
    <td>
    <h5 class="font-medium mb-0">Daniel Kristeen</h5>
    <span class="text-muted">Texas, Unitedd states</span>
    </td>
    <td>
    <span class="text-muted">Visual Designer</span><br>
    </td>
    <td>
    <span class="text-muted">999 - 444 - 555</span>
    </td>
    <td>
    <span class="text-muted">15 Mar 1988</span><br>
    <span class="text-muted">10: 55 AM</span>
    </td>
    <td>
    10
    </td>
    <td>10</td>
    <td>10</td>
    <td>
    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
    </td>
    </tr>